body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
}
html {
  font-size: 14px;
}
:root {
  --bgr--vang: #f7941e;
  --color-red: #c92127;
  --color-xam: #f0f0f0;
  --color-xam-nhat: #f0f0f0;
  --color-text_white: #fff;
  --radius-6: 6px;
  --color-border: #d2d4d5;
  
}
.bgrAll {
  background-color: #ceae7f;
}
.yellow {
  color: var(--bgr--vang);
}
.bgr_gray {
  background-color: #eff0f5 !important;
}
.bgr_common {
  background-color: var(--bgr--vang);
}
/* -------------------------------------------------------------- */
a {
  text-decoration: none !important;
}
/* ---------------------------------BTN LOGIN VÀ SÀI CHUNG ------------------------ */
.bt__forceUpdate_lg {
  /* Lúc chưa điền text vào input Login */
  width: 100%;
  border: none !important;
  background: var(--color-red) !important;
  opacity: 0.4;
  color: #fff !important;
}
.bt__forceUpdate_lg_ok {
  /* ĐÃ điền text vào input Login */
  width: 100%;
  border: none !important;
  background: var(--color-red) !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  color: #fff !important;
}

/* ---------------------------------BỎ GẠCH CHÂN------------------------ */
.text {
  color: var(--color-red);
}
.text_pirive {
  font-size: 15.5px;
  color: var(--color-red);
  font-weight: 700;
}
.text-al-ct {
  text-align: center;
}
.pd0_importan {
  padding: 0px !important;
  font-size: 15px;
}
.nav-item {
  text-decoration: none;
  margin: 10px 8px;
  cursor: pointer;
}
.nav-item a {
  text-decoration: none;
  color: black;
  padding: 0 !important;
}
p {
  font-size: 14px;
}
