:root {
  --bgr--common: #eff0f5;
}
.bgrAll {
  background-color: #ff475f;
}

.bgr_gray {
  background-color: var(--bgr--common) !important;
}
/* -------------------------------------------------------------- */
.ant-modal-body {
  padding: 13px !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disablead):hover {
  border-color: rgb(151, 151, 151) !important;
  border-right-width: 1px !important;
  z-index: 1 !important;
}
/* .ant-input-affix-wrapper:hover {
  border-color: #11f51c !important;
  border-right-width: 1px !important;
} */
.ant-modal-content {
  /* Thẻ bao bọc Tổng modal Login */
  border-radius: 7px !important;
}
/* -------------------------------------------------------------- */

.bt__forceUpdate_lg {
  /* Lúc chưa điền text vào input Login */
  width: 100%;
  border: none !important;
  background: #fad3a4 !important;
}
.bt__forceUpdate_lg_ok {
  /* ĐÃ điền text vào input Login */
  width: 100%;
  border: none !important;
  background: #ffb254 !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

/* -------------------------------------------------------------- */

.text-al-ct {
  text-align: center;
}
.pd0_importan {
  padding: 0px !important;
}

.nav-item {
  text-decoration: none;
  margin: 10px 8px;
}
.nav-item a {
  text-decoration: none;
  color: black;
  padding: 0 !important;
}
p {
  font-size: 14px;
}
/* -------------------------------------------------------------- */

.production{
  margin-bottom: 24px;
  cursor: pointer;
}
.production_img{
}
.production_link{
  position: absolute;
  bottom: -120px;
  left:5px;
  transition: bottom 0.5s;
  background-color: black;
  width: 95%;
  height: 100px;
}
.production_img:hover .production_link{
  bottom: 0px;
}
.production_img:hover {
  opacity: 0.6;
  transform: scale(1.01);
}
/* -------------------------------------------------------------- */
.card_products{
  border: 1px solid rgb(141, 121, 121);
  display: inline-block;
  width: 270px !important;
  height: 350px;
  z-index: 1;
  box-shadow: 1px 1px 10px 1px rgb(157, 156, 156);
  background-color: white;
  border-radius: 7px;
  overflow-y: auto;
  position: absolute !important;
  right: 52px;
  top: 20px;
  display: none;
  text-align: center;
}
.icon_card:hover .card_products {
  display: block;
}
.icon_card{
  cursor: pointer;
}