.navigation_top{
    background-color: rebeccapurple;
    padding: 100px;
}
.navigation_top_left{
    transform: translateX(10%);
}
.navigation_top_left span{
    font-size: 16px;
    margin-right: 15px;
}

.navigation_top_right{
    transform: translateX(-10%);
    text-align: end;
}
.navigation_top_right span {
    margin-left: 15px;
}